[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
catboost = "*"
scikit-learn = "*"
luigi = "*"
tqdm = "*"
xgboost = "*"
fastai = "*"
ipykernel = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.9"
